__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

.env

.git/
.idea/
.vscode/

dist/
build/
*.egg-info/

frontend/node_modules/

.pytest_cache/
.mypy_cache/S

scripts/
crawlers/
crawlers/debug/
crawlers/.playwright-amazon-profile/
crawlers/.playwright-ml-profile/
.ml_profile/
teste.py

